body{
    //height: 100vh;
    padding: 0 5%;
}
.carousel-indicators{
    color: red !important;
}
.ImageBGround{
    height: 400px;
    background-image: url('./image/bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: none;
    &--Font-family{
        font-family: 'Courgette', cursive;
        color: orangered;
    }
    &--Font-size1{
        font-size: 3rem;
    }
    &--Font-size2{
        font-size: 4rem;
    }
}